{% extends 'base.html.twig' %}

{% block title %}Finderr | Messenger

{% endblock %}

{% block body %}
    <section class="container">
        <div class="row">
            <div class="col">
                <h1>Inbox</h1>
                <p>Inbox synthesis</p>
                <p>Received : {{ app.user.received|length }}</p>
                <p>Send : {{ app.user.sent|length }}</p>
                <a class="btn btn-success col-4 offset-1" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">See my folders</a>
                <a href="{{ path("send") }}" class="btn btn-danger col-4 offset-1">Send a message</a>
            </div>
        </div>
    </section>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h2 class="offcanvas-title" id="offcanvasExampleLabel">My folders</h2>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="list-group">
                <a href="{{ path("messages") }}" class="mt-2 list-group-item list-group-item-action active">Home</a>
            </div>
            <div class="list-group">
                <a href="{{ path("received") }}" class="mt-2 list-group-item list-group-item-action">Reception box</a>
            </div>
            <div class="list-group">
                <a href="{{ path("sent") }}" class="mt-2 list-group-item list-group-item-action">Send messages</a>
            </div>
        </div>
    </div>
{% endblock %}
