{% extends 'base.html.twig' %}

{% block title %}Finderr | Messenger
{% endblock %}

{% block body %}
    <section class="container">
        <div class="row">
            <div class="col-12">
                <h1>Inbox</h1>
                <h2>Reception box</h2>
                <p>You received
                    {{ app.user.received|length }}
                    messages</p>
            </div>
            <div class="col-6">From</div>
            <div class="col-2">Subject</div>
            <div class="col-2">Date</div>
            <div class="col-2">Actions</div>
            {% for message in app.user.received %}
                {% if message.isRead == 0 %}
                    {% set bold = "fw-bold" %}
                {% else %}
                    {% set bold = "" %}
                {% endif %}
                <div class="col-6 {{ bold }}">{{ message.sender.email }}</div>
                <div class="col-2 {{ bold }}">
                    <a href="{{ path("read", {id: message.id}) }}">
                    {{ message.title }}</a>
                </div>
                <div class="col-2 {{ bold }}">{{ message.createdAt|date }}</div>
                <div class="col-2">
                    <a href="{{ path("delete", {id: message.id}) }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square-fill text-danger" viewbox="0 0 16 16">
                            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
                        </svg>
                    </a>
                </div>
            {% endfor %}

            <div class="col">
                <a class="btn btn-danger col-4 offset-1" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">See my folders</a>
                <a href="{{ path("send") }}" class="btn btn-danger col-4 offset-1">Send a message</a>
            </div>
        </div>
    </section>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h2 class="offcanvas-title" id="offcanvasExampleLabel">My folders</h2>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="list-group">
                <a href="{{ path("messages") }}" class="mt-2 list-group-item list-group-item-action">Home</a>
            </div>
            <div class="list-group">
                <a href="{{ path("received") }}" class="mt-2 list-group-item list-group-item-action active">Reception box</a>
            </div>
            <div class="list-group">
                <a href="{{ path("sent") }}" class="mt-2 list-group-item list-group-item-action">Send messages</a>
            </div>
        </div>
    </div>
{% endblock %}
